* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  --primary-color: #282c34;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 22px;
}

.btn-get-options {
  padding: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #b2ffb2;
  transition: background-color 200ms;
}

.btn-get-options:hover {
  background-color: #dcffdc;
}

.btn-get-options:active {
  background-color: #8cfa8c;
}

.content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 600px;
  }
}